dash
dash-bootstrap-components
docx
fastparquet
filelock
finnhub-python
flask
matplotlib
nasdaq-data-link
numpy
openai
openpyxl
pandas
plotly
pyarrow
pypdf2
python-docx
pytz
requests
sendgrid
tabulate
tenacity
torch
tqdm
trafilatura
twilio
yfinance
psycopg2-binary
